body{
    background: rgba(3, 134, 123, 0.164);
}
h1{
    color: black;
}
h2{
    color: blueviolet;
}

p{
    text-align: justify;
    font-size: 20px;
    color: brown;
}

.sub1{
    font-size: 40px;
    color: crimson;
}